@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font: normal 1em 'Fira Code', monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar{
    display: none;
}

body {
    justify-content: center;
}

/*
Intro text
*/
div.intro{
    width: 75%;
    margin: 0 12.5%;
    text-align: center;
    background-color: rgba(165, 165, 165, 0.274);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

div.intro > p {
    margin: 0;
    font-weight: bold;
    color: #000;
    text-shadow: 0 0 1px #000;
    text-align: center;
    font: normal 2em 'Fira Code', monospace;
    padding: 10px;
}

.about {
    width: 75%;
    margin: 0 12.5%;
    text-align: center;
    background-color: rgba(165, 165, 165, 0.274);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

#name {
    font: Bold 2em 'Fira Code', monospace;
}

.about-text {
    font: normal 1em 'Fira Code', monospace;
}